* {
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: None;
}
nav a:hover{
    text-decoration: underline!important;
}

.content {
    position: relative;
    width: 50%;
    left: 25%;

    margin-top: 2.5%;
    text-align: center;
}

.content table {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 1.1em;
}

.content table th, td {
    padding: 3%!important;
    border: 1px solid silver;
}

.content .link, a {
    font-size: 1.1em;
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.content .salary-label{
    margin-top: 3%;
}
.content a{
    color: dimgray;
    font-weight: bold;
}
