{% extends "department_app/base.html" %}


{% block title %}Departments{% endblock %}


{% block content %}
<h1>Departments:</h1>

<table id="departments-table" class="table table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                Department name
            </th>
            <th scope="col">Employees</th>
            <th scope="col">Average Salary</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            Marketing Department
        </td>
        <td>3</td>
        <td>1800</td>
    </tr>
    <tr>
        <td>
            <a href="department.html">Finance Department</a>
        </td>
        <td>5</td>
        <td>$1820</td>
    </tr>
    </tbody>

</table>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#createModal">Add
            department
        </button>
    </div>
</div>


<div class="modal fade" id="createModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add department</h5>

                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="departmentNameInput">Department Name</label>
                        <input type="text" class="form-control" id="departmentNameInput"
                               placeholder="Finance">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary" onclick="create_department()">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script>
    const tableBody = document.querySelector('#departments-table > tbody');


    async function load_departments() {
        await fetch('/api/departments')
            .then(response => response.json())
            .then(data => {
                insert(data)
            });

    }
    async function create_department(){
        const data = {
            name: document.getElementById('departmentNameInput').value
        }
        await fetch(`/api/departments/`,
            {
                method: 'POST',
                credentials: "same-origin",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                    "Accept": "application/json",
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(() => window.location.reload())
    }
    function insert(departments) {
        while (tableBody.firstChild) {
            tableBody.removeChild(tableBody.firstChild)
        }

        departments.forEach((department) => {
            const tr = document.createElement("tr")
            const tdName = document.createElement("td")
            const employeeLink = document.createElement('a')
            employeeLink.setAttribute('href', `departments/${department.id}`)
            employeeLink.textContent = department.name;
            tdName.appendChild(employeeLink);
            tr.appendChild(tdName);

            const tdEmployees = document.createElement("td")
            tdEmployees.textContent = department.employees.length;
            tr.appendChild(tdEmployees)

            const tdSalary = document.createElement("td")
            tdSalary.textContent = department.average_salary;
            tr.appendChild(tdSalary)


            tableBody.appendChild(tr);
        });


    }
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    document.addEventListener("DOMContentLoaded", () => {
        load_departments();
    })
</script>
{% endblock %}