{% extends "department_app/base.html" %}

{% block title %}Employees{% endblock %}


{% block content %}
<h1>Employees:</h1>


<div class="row">
    <div class="col"></div>
    <div class="col"><input class="form-control centered" type="text" id="filter-name" placeholder="Name">
</div>
    <div class="col"></div>
</div>


<table id="employees-table" class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr>
        <th>
            Employee name
        </th>
        <th>Department</th>
    </tr>
    </thead>
    <tbody>

    </tbody>

</table>

{% endblock %}

{% block scripts %}
<script>
    let nameQuery;

    const tableBody = document.querySelector('#employees-table > tbody');

    const filterName = document.getElementById('filter-name')
    filterName.addEventListener('input', filterNameChange);


    async function load_employees(query = "") {
        query = get_query()
        await fetch('/api/employees' + query)
            .then(response => response.json())
            .then(data => {
                insert(data)
            });

    }
    function get_query(){
        let query = "?"
        if (nameQuery){
            query += `name__contains=${nameQuery}&`
        }
        return query
    }
    function filterNameChange(query) {
        nameQuery = query.target.value
        load_employees()
    }

    function insert(employees) {
        while (tableBody.firstChild) {
            tableBody.removeChild(tableBody.firstChild)
        }

        employees.forEach((employee) => {
            const tr = document.createElement("tr")

            const tdName = document.createElement("td")
            const employeeLink = document.createElement('a')
            employeeLink.setAttribute('href', `/employees/${employee.id}`)
            employeeLink.textContent = employee.name;
            tdName.appendChild(employeeLink)
            tr.appendChild(tdName)

            const tdDepartment = document.createElement("td")
            const departmentLink = document.createElement("a")
            departmentLink.setAttribute('href', `/departments/${employee.related_department.id}`)
            departmentLink.textContent = employee.related_department.name
            tdDepartment.appendChild(departmentLink)
            tr.appendChild(tdDepartment)


            tableBody.appendChild(tr);
        });


    }

    document.addEventListener("DOMContentLoaded", () => {
        load_employees();
    })
</script>
{% endblock %}